<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Student</title>
    <link rel="icon" href="logo.png" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">New Student</h2>

            <form method="post" enctype="multipart/form-data" th:object="${studentDto}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${studentDto.name}">

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Age</label>
                    <div class="col-sm-8">
                        <input class="form-control"  type="number" min="15" th:field="*{age}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" th:field="${appUserDto.email}" th:value="${appUserDto.email}" >

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${appUserDto.address}" th:value="${appUserDto.address}">

                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="*{status}">
                            <option value="Enroll">Enroll</option>
                            <option value="Unenroll">Un-enroll</option>
                            <option value="Drop-out">Drop out</option>
                            <option value="Tanga">Tanga</option>
                        </select>

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Image</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" th:field="${studentDto.imageFile}" >

                    </div>
                </div>

                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class=" col-sm-4 d-grid">
                        <a href="/students/ViewStudents" role="button" class="btn btn-outline-primary">Cancel</a>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>